@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    /* Primary */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /* Neutral */

    --Very-dark-blue-main: hsl(217, 54%, 11%);
    /*(main BG)*/
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    /*(card BG)*/
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    /*(line)*/
    --White: hsl(0, 0%, 100%);

}



body {
    background-color: var(--Very-dark-blue-main);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.card-container {
    width: 300px;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    background-color: var(--Very-dark-blue-card);
}

.main-img {
    display: block;
    position: relative;
    /* width: 300px; */
}

.main-img img {
    width: 100%;
    border-radius: 25px;
}

.icon {
    position: absolute;
    background-color: hsl(178, 100%, 50%);
    border-radius: 25px;
    width: 100%;
    bottom: 0%;
    top: 0;
    opacity: 0;
}


.icon:hover {
    opacity: 0.2;
    cursor: pointer;
}

.icon svg {
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





.heading {
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}

.heading:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.text {
    color: hsl(215, 51%, 70%);
    margin-top: 5px;
    line-height: 1.7;
}

.img-pic {
    font-size: 18px;
}

.right {
    float: right;
}

.left span {
    color: hsl(178, 100%, 50%);
    position: relative;
    bottom: 2px;
}

.right span {
    color: hsl(215, 51%, 70%);
    position: relative;
    bottom: 2px;
}

.line {
    width: 98%;
    height: 3px;
    margin: auto;
    margin: 15px 0;
    background-color: hsl(215, 32%, 27%);
}

.foot {
    font-family: 'Outfit', sans-serif;

}

.foot img {
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.text-foot {
    font-size: 15px;

    position: relative;
    margin-left: 15px;
    bottom: 15px;
    color: hsl(215, 51%, 70%);
}

.text-foot span {
    color: white;
}

.text-foot span:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}