@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    /* font-family: "Young Serif", serif; */
}

:root{
    
/* ### Primary */
    --Nutmeg: hsl(14, 45%, 36%);
--Dark_Raspberry: hsl(332, 51%, 32%);

/* ### Neutral */

--White: hsl(0, 0%, 100%);
--Rose_White: hsl(330, 100%, 98%);
--Eggshell: hsl(30, 54%, 90%);
--Light_Grey: hsl(30, 18%, 87%);
--Wenge_Brown: hsl(30, 10%, 34%);
--Dark_Charcoal: hsl(24, 5%, 18%);

}

body{
    background-color: var(--Eggshell);
}
.menu{
    width: 80%;
    background-color: var(--White);
    margin: 64px auto;
    border-radius: 32px;
    padding: 32px;
}